.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
  background: linear-gradient(135deg, #d5f4e6, #f4dada, #e4c1f9);
  animation: gradientShift 10s ease infinite;
}


@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.app-sub-container{
  background-color: rgb(242, 249, 255);
  padding: 2rem;
  width: 26rem;
  border: 1px solid gray;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 3rem;
}

.app-sub-container h1{
  text-align: center;
  margin-bottom: 2rem;
}

.life-stage {
  font-size: 20px;
display: flex;
gap: 1rem;
align-items: center;
}

.note-input-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 20px 0;
}

.note-input-form input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  outline: none;       
  background-color: rgb(231, 244, 255);
  border: none;
}

.note-input-form button {
  padding: 10px 16px;
  border: none;
  border-radius: 2rem;
  background-color: #628262;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.note-list {
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.note-list.count-1,
.note-list.count-0{
  grid-template-columns: 1fr;
  justify-items: center;
}

.note-list.count-2 {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.note-card {
  width: 200px;
  height: fit-content;
  background: #f5ff9c;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.note-card p {
  font-size: 16px;
  margin: 0 0 10px;
}

.note-card small {
  font-size: 12px;
  color: #666;
}
.image-preview {
  margin-top: 10px;
}

.note-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 5px;
}

.progress-bar {
  height: 6px;
  width: 100%;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 8px;
}

.progress-fill {
  height: 100%;
  background-color: #72c472;
  transition: width 1s linear;
}

.note-card.grow {
  animation: growIn 0.5s ease-out;
}

@keyframes growIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.music-toggle {
  background-color: #f5f5f5;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 16px;
  transition: all 0.3s ease;
}

.music-toggle:hover {
  background-color: #e0e0e0;
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.volume-control input[type="range"] {
  width: 150px;
}

